:root {
  --primary-color: #6070ff;
  --bg-color: #f5f5f5;
  --white-color: #fff;
  --text-color-1: #172b4d;
  --text-color-2: #7a869a;
  --text-color-3: #344563;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  background: var(--white-color);
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
}

.blur {
  filter: blur(4.5px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
}

.logo a {
  cursor: pointer;
  margin: 6px;
  font-size: 18px;
  font-weight: var(--fw-700);
  font-style: normal;
  color: var(--primary-color);
  line-height: 20px;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 4px;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: var(--fw-500);
  margin: 10px 0 0 0;
}

.logo a:focus {
  color: var(--primary-color);
}

nav .openMenu {
  display: block;
  top: 50px;
  right: 20px;
  color: var(--primary-color);
  margin-right: 5px;
}

.mainMenu {
  display: none;
  position: fixed;
  flex-direction: column;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: top 1s ease;
  background-color: var(--primary-color);
  opacity: 0.9;
  padding: 40px 0 0 20px;
}

nav .mainMenu .closeMenu {
  position: absolute;
  display: block;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--white-color);
}

.showcase {
  background-image: url('./images/header-shapes-mobile.png');
  background-size: 100%, 90%;
  background-color: var(--white-color);
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  padding: 20px;
  height: 96vh;
  width: 100vw;
  margin-top: -15px;
}

.showcase h1 {
  padding-top: 30px;
  font-size: 40px;
  width: 300px;
  line-height: 52px;
  font-weight: var(--fw-700);
  margin: 58px 0 8px 0;
}

.social-media {
  display: flex;
}

.follow__link {
  color: var(--primary-color);
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 19px;
}

.showcase__presentation .social-media a {
  margin-right: 10px;
  width: 19.9px;
  height: 19.9px;
}

/* Works section */

.works {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 327px;
  height: 600px;
  padding: 16px;
  background: var(--white-color);
  margin: 50px auto;
  border-radius: 8px;
}

.works__image img {
  width: 100%;
  height: 100%;
}

.work__description {
  display: flex;
  flex-direction: column;
}

.work__description .long_desc {
  font-size: 0.85rem;
  font-weight: var(--fw-400);
}

.work__description > h2 {
  width: 290px;
  font-size: 25px;
  font-weight: var(--fw-700);
  color: var(--text-color-1);
}

.short_desc {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.short_desc * {
  margin-right: 10px;
}

.short_desc h4 {
  font-size: 13px;
  font-weight: var(--fw-600);
  line-height: 16px;
  color: var(--text-color-2);
}

.short_desc h4:nth-child(1) {
  color: var(--text-color-3);
  text-transform: uppercase;
}

.short_desc span {
  background-color: #c1c7d0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.work__lang * {
  float: left;
  margin: 20px 10px 20px 0;
  background: #ebebff;
  color: var(--primary-color);
  font-weight: var(--fw-500);
  border-radius: 7px;
  padding: 5px;
}

.lang-1:hover,
.lang-3:hover,
.lang-4:hover {
  text-decoration: underline;
}

.btn {
  width: 150px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  color: var(--primary-color);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  transform: rotate(1deg);
}

.btn-enabled {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

/* About section */

.about-me {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 1050px;
  background: var(--white-color);
  border-radius: 16px;
  margin: 50px auto;
  border-top-right-radius: 50px;
  padding: 20px;
}

.about-me__title {
  width: 200px;
  padding-top: 100px;
  height: 101px;
  font-size: 40px;
  line-height: 52px;
  font-weight: var(--fw-700);
  margin: 20px 0 125px 0;
}

.about-me__description p {
  color: var(--text-color-3);
  line-height: 24px;
  font-size: 16px;
  font-weight: var(--fw-400);
  margin-bottom: 15px;
}

.medias {
  color: var(--primary-color);
  font-size: 1.1rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.about-me-container .social-media {
  margin: 15px 0;
}

.social-media li {
  margin-right: 10px;
}

.about-me__tools {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 25px;
}

.tools {
  margin-top: 30px;
}

.lang {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lang h3 {
  margin-left: -60px;
}

.lang img {
  margin-right: -18px;
}

.lang__stack {
  margin: 15px auto;
}

.lang__stack img {
  width: 100%;
}

.lang__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe1e6;
  margin-bottom: 30px;
}

.lang-desktop {
  display: none;
}

.lang__tools img {
  margin-right: 42px;
}

/* Contact-Form */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/contact-form-shape.png');
  background-color: var(--primary-color);
  background-size: 52% 88%;
  background-repeat: no-repeat;
  background-position: 100% 57px;
  border-top-left-radius: 80px;
  height: 779px;
  width: 100%;
  padding: 18px;
  margin: 20px auto 0 auto;
}

.contact-form h2 {
  font-size: 35px;
  color: var(--white-color);
  text-align: center;
  margin-top: 120px;
}

.contact-form p {
  color: #ebebff;
  margin: 11px 0 35px 0;
  font-weight: var(--fw-400);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.form-control {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: solid 1px #cfd8dc;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: var(--fw-500);
  padding: 15px;
}

.text-area {
  height: 170px;
}

.form-control::placeholder {
  font-size: 20px;
}

input.form-control::placeholder {
  color: var(--text-color-1);
}

.contact-btn {
  font-family: inherit;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: var(--white-color);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: var(--fw-500);
  font-size: 17px;
}

.swipe-icon {
  background-color: #0d151e;
  width: 161px;
  height: 5px;
  display: block;
  border-radius: 30px;
  margin: 15px auto 0 auto;
}

/* Mobile Modals windows */
.modelContainer {
  display: none;
  flex-direction: column;
  background: var(--white-color);
  border-radius: 20px;
  margin: 30px auto 25px auto;
  width: 95%;
  height: 620px;
  padding: 10px;
  position: fixed;
  animation: smoth-effet-open 0.7s;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 10px;
  object-fit: contain;
}
@keyframes smoth-effet-open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal .short_desc {
  display: flex;
  align-items: center;
  margin: 3px 0;
}
.modelContainer.show {
  display: flex;
  z-index: 100;
}
.closeModal {
  animation: smoth-effet-close 0.7s;
}
@keyframes smoth-effet-close {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal__headMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -15px 0 -12px 0;
}
.modal__headMain h1 {
  font-weight: var(--fw-600);
  margin-bottom: -30px;
  font-size: 1rem;
}
.modelContainer .desc {
  display: none;
}
.modal__headMain .closeModal {
  font-size: 2rem;
  color: #67798E;
  border: none;
  outline: none;
  background: none;
  padding: 15px;
}
.see-project-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__lang {
  display: flex;
}
.modelContainer .project__lang * {
  margin: 5px 5px 12px 0;
  background: var(--text-color-4);
  font-size: 14px;
  color: var(--primary-color);
  font-weight: var(--fw-400);
  border-radius: 15px;
  padding: 1px;
}
.modal-btn {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--white-color);
  border: 2px var(--primary-color) solid;
  outline: none;
  color: var(--primary-color);
  font-weight: var(--fw-600);
  margin-right: 5px;
  margin-top: 0;
  margin-left: -16px;
}
.modal-btn i {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}
.modal__body img {
  width: 100%;
  height: 90%;
}
.modal__body p {
  color: #1D3050;
  font-size: 13px;
  font-weight: var(--fw-500);
}

/* DESKTOP VIEW */

@media screen and (min-width: 769px) {
  .navbar {
    padding: 0 61px;
  }

  nav .openMenu {
    display: none;
  }

  nav .mainMenu {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 0;
    background-color: var(--white-color);
  }

  nav .mainMenu li a {
    color: var(--text-color-1);
    font-size: 1rem;
    font-weight: var(--fw-400);
    position: relative;
  }

  nav .mainMenu li a::before {
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    margin-right: 150px;
    background-color: var(--primary-color);
    position: absolute;
    transition: all 0.4s ease-in-out;
  }

  nav .mainMenu li a:hover::before {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar nav .openMenu {
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: none;
  }

  .showcase {
    background-image: url('./images/header-shapes-desktop.png');
    background-size: 100% 95%;
    border-bottom-left-radius: 110px;
    height: 99vh;
    padding: 120px;
    margin-top: -17px;
  }

  .showcase__presentation {
    width: 900px;
    margin: 0 auto;
    font-size: 14px;
  }

  .showcase__presentation h1 {
    width: 400px;
    margin-top: 27px;
    animation: heading-animation 3s linear;
  }

  @keyframes heading-animation {
    from {
      width: 300px;
      color: rgba(0, 0, 0, 0.5);
    }

    50% {
      width: 500px;
    }

    to {
      width: 400px;
      color: #000;
    }
  }

  .showcase__presentation p {
    color: var(--text-color-3);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 12px 0;
  }

  .follow__link {
    margin-top: 25px;
  }

  .main {
    font-size: 1.3rem;
  }

  .works {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 70px auto;
    height: 440px;
    border-radius: 20px;
  }

  .works__image {
    width: 515px;
    height: 405px;
    object-fit: contain;
    margin-right: 30px;
  }

  .works-col-2-1 .work__description {
    order: -1;
  }

  .work__description p {
    font-size: 1rem;
    font-weight: var(--fw-400);
  }

  .work__description > h2 {
    margin-top: 30px;
    width: 400px;
  }

  .work__description .btn {
    margin-top: 20px;
  }

  .work__lang * {
    font-size: 11px;
  }

  .short_desc {
    margin-bottom: 30px;
  }

  .long_desc p {
    width: 415px;
  }

  .short_desc p {
    color: #6b778c;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
  }

  .about-me {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 20px 149px;
    height: 625px;
    border-top-right-radius: 100px;
  }

  .tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 96px;
    margin-bottom: -50px;
    margin-right: 10px;
    height: 76px;
  }

  .lang {
    justify-content: space-between;
    padding: 0 63px;
  }

  .lang img {
    margin-right: -268px;
  }

  .lang__stack {
    display: flex;
  }

  .lang-mobile {
    display: none;
  }

  .lang-desktop {
    display: flex;
  }

  .lang-desktop * {
    margin-right: 10px;
  }

  .lang__tools {
    display: flex;
    justify-content: space-between;
    width: 648px;
  }

  .lang__tools img {
    margin-left: 50px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    background-image: url('./images/contact-form-desk-bg.png');
    border-top-left-radius: 100px;
    background-size: 95% 89%;
    margin-top: -50px;
    height: 700px;
  }

  .contact-form p {
    color: var(--white-color);
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 70px;
  }

  .contact-form__intro {
    margin-top: -100px;
  }

  .contact-form__intro p {
    width: 500px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-btn {
    padding: 15px;
    font-weight: var(--fw-600);
  }

  .form-control {
    width: 447px;
    border-radius: 1px;
  }

  .swipe-icon {
    display: none;
  }
}
