* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  background: #fff;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  cursor: pointer;
  margin: 6px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #6070ff;
  line-height: 20px;
}

.logo a:focus {
  color: #6070ff;
}

.openMenu {
  font-size: 1.7rem;
  color: #6070ff;
}

.showcase {
  background-image: url('./images/header-shapes-mobile.png');
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 80px;
  padding: 20px;
  height: 80vh;
  width: 100vw;
  margin-top: -15px;
}

.showcase h1 {
  padding-top: 30px;
  font-size: 30px;
  width: 300px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
}

.follow__link {
  color: #6070ff;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 19px;
}

.showcase__presentation .social-media a {
  margin-right: 10px;
  width: 19.9px;
  height: 19.9px;
}

/* Works section */

.works {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 327px;
  height: 500px;
  padding: 16px;
  background: #fff;
  margin: 50px auto;
  border-radius: 20px;
}

.work__description {
  display: flex;
  flex-direction: column;
}

.work__description .long_desc {
  font-size: 0.85rem;
  font-weight: 400;
}

.work__description > h2 {
  width: 290px;
  font-size: 25px;
  font-weight: 700;
  color: #172b4d;
}

.short_desc {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.short_desc * {
  margin-right: 10px;
}

.short_desc h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.short_desc h4:nth-child(1) {
  color: #344563;
  text-transform: uppercase;
}

.short_desc span {
  background-color: #c1c7d0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.work__lang * {
  float: left;
  margin: 20px 10px 20px 0;
  background: #ebebff;
  color: #6070ff;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px;
}

.lang-1:hover,
.lang-3:hover,
.lang-4:hover {
  text-decoration: underline;
}

.btn {
  width: 150px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  color: #6070ff;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
  transform: rotate(1deg);
}

.btn-enabled {
  background-color: #fff;
  border: 1px solid #7f8cff;
}

/* About section */

.about-me {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 1050px;
  background: #fff;
  border-radius: 16px;
  margin: 50px auto;
  border-top-right-radius: 50px;
  padding: 20px;
}

.about-me__title {
  width: 200px;
  padding-top: 100px;
  height: 101px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin: 20px 0 125px 0;
}

.about-me__description p {
  color: #344563;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.medias {
  color: #6070ff;
  font-size: 1.1rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.about-me-container .social-media {
  margin: 15px 0;
}

.social-media li {
  margin-right: 10px;
}

.about-me__tools {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 25px;
}

.tools {
  margin-top: 30px;
}

.lang {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lang h3 {
  margin-left: -60px;
}

.lang img {
  margin-right: -18px;
}

.lang__stack {
  margin: 15px auto;
}

.lang__stack img {
  width: 100%;
}

.lang__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfe1e6;
  margin-bottom: 30px;
}

.lang__tools img {
  margin-right: 42px;
}

/* Contact-Form */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/contact-form-shape.png');
  background-color: #6070ff;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 80px;
  height: 779px;
  width: 100%;
  padding: 18px;
  margin: 20px auto 0 auto;
}

.contact-form h2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-top: 120px;
}

.contact-form p {
  color: #ebebff;
  margin: 11px 0 50px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.form-control {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: solid 1px #cfd8dc;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
}

.text-area {
  height: 170px;
}

.form-control::placeholder {
  font-size: 20px;
}

input.form-control::placeholder {
  color: #172b4d;
}

.contact-btn {
  font-family: inherit;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
}

.contact-btn:hover {
  color: #fff;
  background: #6070ff;
}

.swipe-icon {
  background-color: #0d151e;
  width: 161px;
  height: 5px;
  display: block;
  border-radius: 30px;
  margin: 22px auto 0 auto;
}
